.App {
  background-color: #eef5ff;
  padding: 20px;
  text-align: center;
}

.app-title {
  color: #185a9d;
}

.select-container {
  margin-bottom: 20px;
}

.select-label {
  font-weight: bold;
  margin-right: 10px;
  color: #185a9d;
}

.select-box {
  padding: 5px 10px;
  border: 1px solid #185a9d;
  border-radius: 4px;
  background-color: #f2f7ff;
  color: #185a9d;
  font-size: 16px;
}

.Weather {
  margin-top: 20px;
  padding: 10px;
  background-color: #c9e4ff;
  border-radius: 4px;
  color: #185a9d;
}

.Weather-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Forecast {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Forecast-day {
  font-weight: bold;
}

.Forecast-details {
  display: flex;
  flex-direction: column;
}

.Forecast-temperature {
  font-weight: bold;
}

.Forecast-description {
  color: #666666;
}
