.container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.datamixer {
  margin: 20px;
  position: absolute;
  top: 0px;
  width: 100%;
  font-weight: 700;
  color: rgb(9, 138, 208);
}
h1 {
  color: rgb(0, 114, 214);
  margin: 5px;
}

.information {
  margin-left: 30%;
  font-size: 16px;
  font-weight: 700;
}

infotext {
  color: rgb(255, 169, 169);
  font-weight: 400;
  margin-left: 20px;
}
.iconimage {
  position: absolute;
  left: -10px;
}

.logoimage {
  position: absolute;
  left: 22%;
  top: 0px;
}

.searchbox {
  margin-left: 40%;
}

.inputSelectors {
  margin: 10px;
  color: rgb(101, 101, 101);
  border: none;
}

.weather-container {
  margin: 10px;
  flex: 1;
  background-color: rgba(17, 87, 96, 0.6);
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: entrance;
  animation-duration: 1s;
}

@keyframes entrance {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.nature-container {
  margin: 10px;
  flex: 1;
  background-color: rgba(5, 57, 48, 0.6);
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: entrance;
  animation-duration: 1s;
}

.waters-container {
  margin: 10px;
  flex: 1;
  background-color: rgba(29, 108, 134, 0.6);
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: entrance;
  animation-duration: 1s;
}

.header {
  height: 1000px;
  background-image: url("../public/header.jpg");
  background-size: cover;
}

.image-gallery {
  opacity: 80%;
  width: 100%;
  z-index: 0;
  position: absolute;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active {
  width: 100%;
  opacity: 1;
  z-index: 1;
}

.slide.next {
  width: 100%;
  opacity: 1;
  z-index: 2;
}

.slide.transitioning {
  display: none;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  margin: 0 5px;
}
.galleryimage {
  border-radius: 20px;
}
